/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Card */
  .card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Card Header */
  .card-header {
    font-size: 24px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Form */
  .form {
    padding: 20px;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Label */
  label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  /* Input Field */
  .input-field {
    width: calc(100% - 10px);
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Submit Button */
  .btn-submit {
    width: 100%;
    height: 40px;
    background-color: #6369d1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  .btn-submit:hover {
    background-color: #4f55c1;
  }
  