<div class="container">
  <h1 class="title">Deepfake Detection</h1>
  <p class="subtitle">Please select an image for detection</p>

  <div class="upload-container">
    <label for="fileInput" class="upload-button">
      <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)" style="display: none;" />
      Upload Image
    </label>
  </div>

  <div class="image-preview">
    <img *ngIf="previewUrl !== null" [src]="previewUrl" alt="Image Preview" />
    <span *ngIf="previewUrl === null"></span>
  </div>

  <button class="detect-button" (click)="onDetectClick()">DETECT</button>
</div>
